@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Da li je ok da se pise klasican css za base components i utility classes ako radim sa tailwindom 
   ili da koristim @apply? */
@layer base {
  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  #root {
    width: min(1536px, 100%);
    margin: 0 auto;
  }
}

@layer utilities {
  /* FLEX */
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* FLEX */

  /* TYPOGRAPHY */
  .h1-bold {
    @apply font-bold text-[32px] leading-[40px];
  }
  .h2-bold {
    @apply font-bold text-2xl;
  }
  .h1-medium {
    @apply font-medium text-xl;
  }
  .h2-medium {
    @apply font-medium text-base;
  }
  .p1-bold {
    @apply font-bold text-lg;
  }
  .p1-medium {
    @apply font-medium text-lg;
  }
  .p1-regular {
    @apply font-normal text-lg;
  }
  .p2-regular {
    @apply font-normal text-base;
  }
  .p2-bold {
    @apply font-bold text-base;
  }
  .p3-bold {
    @apply font-bold text-sm;
  }
  .p3-medium {
    @apply font-medium text-sm;
  }
  .p4-medium {
    @apply font-medium text-xs;
  }

  .p3-regular {
    @apply font-normal text-sm;
  }
  .p4-regular {
    @apply font-normal text-xs;
  }
  .subtitle-small {
    @apply font-normal text-[10px] leading-[12.1px];
  }
  /* TYPOGRAPHY */
}
